.conatiner{
    display: flex;
}
.noticia{
    width: 320px;
    border-top: solid 1px;
    color:brown;
    border-color: rgb(112, 112, 112);
    display: flex;
    margin: 0px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.numero{
    padding: 15px;
    color: gray;
    font-size: 25px;
}